:root {

}

/* Attention à nettoyer correctement le CSS  */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Header */

header {
    height: 100%;
    background-image: url("img/header-calque1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
}

nav li {
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 15;
    position: relative;
    overflow: visible;
}

nav li::before {
    content: "";
    display: block;
    height: 40px;
    width: 3px;
    position: absolute;
    z-index: -1;
    left: calc(50% - 3px);
    bottom: calc(50% - 20px);
    transition: 0.7s;
    border-radius: 5px;
}

nav li:hover::before {
    width: 100%;
    left: 0;
    border-radius: 25px;
}

nav li:first-of-type::before {
    background-color: rgba(255, 0, 255, 0.7);
    box-shadow: 0px 0px 5px 3px rgba(255, 0, 255, 1);
}

nav li:nth-of-type(2)::before {
    background-color: rgba(0, 255, 0, 0.7);
    box-shadow: 0px 0px 5px 3px rgba(0, 255, 0, 1);
}

nav li:last-of-type::before {
    background-color: rgba(0, 255, 255, 0.7);
    box-shadow: 0px 0px 5px 3px rgba(0, 255, 255, 1);
}

nav li:first-of-type:hover::before {
    background-color: rgba(255, 0, 255, 1);
    box-shadow: 0px 0px 15px 3px rgb(255, 0, 255);
}

nav li:nth-of-type(2):hover::before {
    background-color: rgba(0, 255, 0, 1);
    box-shadow: 0px 0px 15px 3px rgb(0, 255, 0);
}

nav li:last-of-type:hover::before {
    background-color: rgba(0, 255, 255, 1);
    box-shadow: 0px 0px 15px 3px rgb(0, 255, 255);
}

nav li:hover a {
    color: black;
}

nav li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

h1 {
    position: relative;
    font-size: 10rem;
    color: white;
    top: calc(50% - 5rem);
    text-align: center;
    z-index: 4;
}

header img:first-of-type {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header img:nth-of-type(2) {
    position: absolute;
    top: -20%;
    right: 0;
    animation: levitating 5s ease infinite;
    z-index: 2;
}

header img:nth-of-type(3) {
    position: absolute;
    top: -2%;
    left: 0;
    animation: header-spaceship 1.5s ease-in;
    z-index: 3;
}

header img:nth-of-type(4) {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
}

header img:nth-of-type(5) {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 6;
}

header img:nth-of-type(6) {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 7;
}

header img:nth-of-type(7) {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 8;
}

header img:nth-of-type(8) {
    position: absolute;
    height: 100%;
    bottom: -10%;
    right: 20%;
    z-index: 9;
}

header img:nth-of-type(9) {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
}

header img:nth-of-type(10) {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 11;
}

header img:last-of-type {
    position: absolute;
    bottom: -5%;
    z-index: 12;
    animation: levitating-inverted 5s ease infinite;
}

header p {
    position: absolute;
    z-index: 15;
    left: 47%;
    top: 35%;
    color: white;
    font-size: 1rem;
    width: 160px;
    text-align: center;
}

header button {
    position: absolute;
    background-color: transparent;
    z-index: 15;
    width: 110px;
    height: 60px;
    box-sizing: border-box;
    border: none;
    left: 48.2%;
    top: 40.5%;
    cursor: pointer;
}

/* Main */

main {
    height: auto;
    background: radial-gradient(ellipse at top, #060e40 30%, #400183 100%);
}

section {
    height: 100vh;
    position: relative;
}

/* About me */

#about-me {
    background-image: url("img/header-calque1.png");
}

#presentation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    position: relative;
}

#presentation img {
    max-width: 500px;
    max-height: 500px;
}

#photo {
    height: 70%;
    margin-right: 30px;
    filter: drop-shadow(0 0 10px #eee1b4);
    flex-grow: 1;
    position: relative;
}

#portrait {
    width: 300px;
    border-radius: 50%;
    z-index: 2;
}

#photo button {
    width: 100px;
    height: 100px;
    background: url("img/MoonCV.png");
    background-size: contain;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    transition: .2s;
    position: absolute;
    right: 0;
    bottom: 0;
}

#photo button:hover {
    filter: drop-shadow(1px 1px 20px #eee1b4);
}

#description {
    flex-grow: 1;
    color: white;

}

#description h2 {
    font-size: 6rem;
    text-align: center;
}

#description p {
    padding: 10px 50px;
    text-align: justify;
}

/* skills  */

#skills {
    width: 80%;
    height: 40%;
    margin: auto;
    background-image: url("img/skills-constellation.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills h3 {
    font-size: 2rem;
    color: white;
    padding-bottom: 40px;
}

#skills ul {
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

#skills li img {
    width: 90px;
}

/* spaceship */
#spaceship-container {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 20;
  }

#spaceship-container:hover {
    animation: css-spaceship 8s ease-in-out;
}
  
  #spaceship {
    height: 80%;
    width: 100%;
    position: relative;
    z-index: 3;
  }
  
  #wings {
    width: 50%;
    height: 40%;
    background-color: transparent;
    position: absolute; 
    bottom: -5%;
    left: 25%;
    border-radius: 50%;
    box-shadow: 0px -20px 0px 8px #613768, 0px -25px 0px 8px #6137b9;
  }
  
  #body {
    height: 90%;
    width: 35%;
    position: absolute;
    left: 32.5%;
    background-color: #0f3041;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    border: 3px solid black;
  }
  
  #tip {
    width: 100%;
    height: 40%;
    position: absolute;
    top: -6%;
    background: linear-gradient(60deg, #613768, #6137b9);
    border-radius: 47%;
    box-sizing: border-box;
    border: 2px solid black;
  }
  
  #window {
    height: 25%;
    width: 50%;
    background-color: #c2e2f2;
    position: absolute;
    top: 42.5%;
    left: 25%;
    border-radius: 50%;
    box-sizing: border-box;
    border: 10px solid grey;
  }
  
  #line {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 18%;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #613768;
  }
  
  .reactor {
    width: 20%;
    height: 20%;
    background: linear-gradient(#613768 70%, #6137b9);
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border: 2px solid black;
  }
  
  .reactor.one {
    left: 35%;
    transform: skewX(-26deg);
  }
  
  .reactor.two {
    right: 35%;
    transform: skewX(26deg);
  }
  
  #fire {
    height: 20%;
    width: 100%;
    position: relative;
    display: none;
  }

#spaceship-container:hover #fire {
    display: block;
}
  
  .fire {
    width: 25%;
    height: 250%;
    position: absolute;
    background: radial-gradient(ellipse at top, #ffa5bb, #ffa500);
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid rgba(255, 150, 0, 1);
  }
  
  .fire.one {
    left: 37.5%;
    top: -15%;
  }
  
  .fire.two {
    scale: 0.7;
    left: 23%;
    top: -60%;
    transform: rotate(30deg);
  }
  
  .fire.three {
    scale: 0.7;
    right: 23%;
    top: -60%;
    transform: rotate(-30deg);
  }

/* Projects */

#projects {
    position: relative;
}

/* Solar system */

#solar-system {
    width: 100%;
    margin-top: 60px;
    height: 90%;
    position: relative;
    overflow-x: hidden;
    overflow: visible;
  }
  
.line {
    border-radius: 100% 0 0 100% / 50%;
    box-sizing: border-box;
    border: 2px solid white;
    height: 100%;
    width: 100%;
}

.project {
    position: absolute;
    box-sizing: border-box;
}

.project.four {
    width: 90%;
    height: 93%;
    right: -10px;
    top: 3.5%;
}

.project.three {
    width: 80%;
    height: 90%;
    right: 0;
    top: 5%;
}

.project.two {
    width: 60%;
    height: 80%;
    right: 0;
    top: 10%;
}

.project.one {
    width: 50%;
    height: 70%;
    right: 0;
    top: 15%;
}

.sun {
    width: 65%;
    height: 65%;
    border-radius: 50%;
    background: radial-gradient(circle at right, yellow, white);
    right: -30.5%;
    top: 17.5%;
    filter: drop-shadow(-10px 1px 20px white);
}

.planet {
    position: absolute;
    cursor: pointer;
    border: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.planet div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 95%;
    width: 95%;
    box-sizing: border-box;
}

.planet.four {
    width: 150px;
    height: 150px;
    bottom: 86%;
    left: 45%;
    background-image: url("img/planet4.png");
    filter: drop-shadow(0 0 5px rgb(0, 255, 155));
}

.planet.four div {
    background-image: url("img/projects/project4.jpg");
}

.planet.three {
    width: 120px;
    height: 120px;
    bottom: 61%;
    left: 5%;
    background-image: url("img/planet3.png");
    filter: drop-shadow(0 0 10px rgb(255, 155, 155));
}

.planet.three div {
    background-image: url("img/projects/project3.jpg");
}

.planet.two {
    width: 130px;
    height: 130px;
    bottom: -3%;
    left: 40%;
    background-image: url("img/planet2.png");
    filter: drop-shadow(0 0 10px rgb(0, 150, 255));
}

.planet.two div {
    background-image: url("img/projects/project2.jpg");
}

.planet.one {
    width: 140px;
    height: 140px;
    bottom: 56%;
    left: 0%;
    background-image: url("img/planet1.png");
    filter: drop-shadow(0 0 15px rgb(100, 100, 100));
}

.planet.one div {
    background-image: url("img/projects/project1.jpg");
}

/* pour le déplacement des planètes focus : planet:focus > not:focus  */

/* slider */

#projects-slider {
    position: absolute;
    width: 70dvw;
    height: 70dvh;
    top: calc(50% - 35dvh);
    left: calc(50% - 35dvw);
    background-color: rgba(0, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    border: 4px solid rgb(100, 100, 100); 
    border-radius: 15px;
    z-index: 25;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#projects-slider h3 {
    font-size: 2.5rem;
    font-family: Audiowide, Arial, Helvetica, sans-serif;
}

#slider-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1100px;
    position: absolute;
}

#slider-content {
    width: 75%;
    max-width: 900px;
    height: 75%;
    border: 1px solid black;
    position: relative;
    display: flex;
    overflow: hidden;
    margin: auto;
}

.slider-project {
    min-width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

iframe {
    width: 400%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
}

.info {
    font-family: Audiowide, Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

/* Contact Me */

#contact-me {
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

footer {
    background: linear-gradient(#400183, #ab50b0, #f5a8e0);
}

/* Animations */

@keyframes levitating {
    0% {

    }

    50% {
        transform: translateY(1%);
    }

    100% {

    }
}

@keyframes levitating-inverted {
    0% {
        transform: translateY(1%);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1%);
    }
}

@keyframes header-spaceship {
    0% {
        top: 50%;
    }

    100% {

    }
}

@keyframes css-spaceship {
    0% {

    }

    50% {
        bottom: 120%;
    }

    100% {

    }
}




/* Media queries */