/* root */
:root {
    --background: #F4F2FF;
    --books-title: #F4F2FF;
    --frame-background: rgba(80, 102, 239, 0.5);
    --books-color: #3E6082;
    --showmore: #173d63;
}

/* main */

body {
    background-color: var(--background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h2 {
    text-align: center;
}

.titre {
    font-style: italic;
}

.hidden {
    visibility: hidden;
}

/* section presentation */

#presentation {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

#presentation p {
    font-style: italic;
}

#language {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    padding: 30px 0;
}

#language button {
    width: 30px;
    padding: 0;
    background-color: var(--background);
    border: none;
}

#language button:hover {
    cursor: pointer;
}

#language img {
    object-fit: cover;
    width: 100%;
}

/* section img-div */

#intro {
    width: 100%;
}

#frame1 {
    background-color: var(--frame-background);
    max-width: 67%;
    height: 38vw;
    margin: auto;
    border-radius: 20px;
}

#img-div {
    margin: -35% auto auto auto;
    text-align: center;
}

#image {
    max-width: 60%;
    height: auto;
    border-radius: 20px;
}

/* Section bio */

#bio {
    margin-bottom: 100px;
}

#info {
    height: 100%;
    width: 90%;
    margin: auto;
}

#ligne {
    width: 2px;
    height: 100vh;
    max-height: 100%;
    background-color: black;
    position: relative;
    margin: auto;
    bottom: 0;
    margin-top: 80px;
}

#biogroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: -1px;
    grid-template-rows:minmax(100px, auto);
    margin: auto;
    max-width: 80%;
    margin-top: -99vh;
}

.bioinfo {
    display: flex;
    flex-direction: row;
    gap: 30px;
    text-align: justify;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 2;
}

.three {
    grid-column: 2;
    grid-row: 3;
}

.four {
    grid-column: 2;
    grid-row: 4;
}

.five {
    grid-column: 1;
    grid-row: 5;
}

.six {
    grid-column: 1;
    grid-row: 6;
}

.seven {
    grid-column: 2;
    grid-row: 7;
}

.droite {
    margin-left: -4px;
}

.gauche {
    margin-right: -4px;
}

/* section booklist */

#booklist {
    width: 60%;
    height: 250px;
    margin: auto;
    margin-bottom: 100px;
}

h3 {
    text-align: center;
}

#frame2 {
    width: 100%;
    height: 60%;
    background-color: var(--frame-background);
    border-radius: 20px;
}

.defilement {
    width: 100%;
    height: 60%;
    margin: auto;
    margin-top: -6rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 0 40px;
}

.defilement button {
    background-color: var(--books-color) !important;
    font-weight: bold;
    border: 1px solid var(--books-color);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.books {
    width: 80% !important;
    height: 12rem;
    background-color: var(--books-color);
    border-radius: 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}

.bookcover {
    width: 50%;
    max-height: 60%;
    background-color: var(--books-color);
    margin: 10px auto;
    border-radius: 5px;
}

.bookcover img {
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.booktitle, .parution {
    color: var(--books-title);
    max-width: 95%;
    font-size: 11px;
    margin: auto;
    text-align: center;
}

.booktitle {
    font-style: italic;
}

.parution {
    font-weight: bold;
}

/* carousel */

.slick-next:focus::before, .slick-prev:focus::before {
    opacity: 0.75 !important;
}

/* section showmore */

#showmore {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#showmore a {
    color: var(--showmore);
}

#showmore a:active {
    color: black;
}

/* responsive */
/* Smaller than 900px */

@media screen and (max-width: 900px) {
    #ligne {
        height: 70vh;
    }

    #biogroup {
        margin-top: -69vh;
    }

    #booklist {
        width: 80%;
    }

    .books {
        width: 95% !important;
    }
}

/* Smaller than 450px */

@media screen and (max-width: 450px) {
    #main {
        gap: 0;
    }

    #intro {
        margin-bottom: 20px;
    }

    #ligne {
        display: none;
    }

    #biogroup {
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    
    .bioinfo.gauche {
        display: flex;
        flex-direction: row-reverse;
        height: auto;
    }

    #bio {
        margin-bottom: 30px;
    }

    figcaption, p, a {
        font-size: small;
    }

    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: large;
    }

    .books {
        width: 98% !important;
    }

    #booklist {
        margin-bottom: 120px;
    }
}
