:root {
    --text-color: white;
    --text-color-on-white: black;
    --background-gradient: radial-gradient(ellipse at top, #060e40 30%, #400183 100%);
    --neon-pink: rgb(255, 0, 255);
    --neon-pink-opacify: rgba(255, 0, 255, 0.7);
    --neon-green: rgb(0, 255, 0);
    --neon-green-opacify: rgba(0, 255, 0, 0.7);
    --neon-blue: rgb(0, 255, 255);
    --neon-blue-opacify: rgba(0, 255, 255, 0.7);
    --moon-color: #eee1b4;
    --line-color: white;
    --slider-background: rgba(0, 255, 255, 0.7);
    --slider-border: rgb(100, 100, 100);
    --techno-background-color: rgba(219, 208, 46, 0.9);
    --contact-button-color: rgb(100, 15, 100);
    --contact-button-hover: rgb(5, 86, 115);
    --contact-button-shadow-hover: rgb(88, 230, 255);
    --round: 50%;
    --robotic: Audiowide, Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

ul {
    list-style-type: none;
}

.hidden {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

/* Header */
header {
    height: 100%;
    background-image: url("../img/header-calque1.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

/* navigation */
nav {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin: auto;
}

nav li {
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 25px;
    z-index: 15;
    position: relative;
    overflow: visible;
    text-align: center;
}

nav li img {
    top: -15px;
}

nav li::before {
    content: "";
    display: block;
    height: 40px;
    width: 3px;
    position: absolute;
    z-index: -1;
    left: calc(50% - 3px);
    bottom: calc(50% - 20px);
    transition: 0.25s;
    border-radius: 5px;
}

nav li:hover::before {
    width: 100%;
    left: 0;
    border-radius: 25px;
}

nav li:first-of-type::before {
    background-color: var(--neon-pink-opacify);
    box-shadow: 0px 0px 5px 3px var(--neon-pink);
}

nav li:nth-of-type(2)::before {
    background-color: var(--neon-green-opacify);
    box-shadow: 0px 0px 5px 3px var(--neon-green);
}

nav li:nth-of-type(3)::before {
    background-color: var(--neon-blue-opacify);
    box-shadow: 0px 0px 5px 3px var(--neon-blue);
}

nav li:first-of-type:hover::before {
    background-color: var(--neon-pink);
    box-shadow: 0px 0px 15px 3px var(--neon-pink);
}

nav li:nth-of-type(2):hover::before {
    background-color: var(--neon-green);
    box-shadow: 0px 0px 15px 3px var(--neon-green);
}

nav li:nth-of-type(3):hover::before {
    background-color: var(--neon-blue);
    box-shadow: 0px 0px 15px 3px var(--neon-blue);
}

nav li:hover a {
    color: var(--text-color-on-white);
}

nav li a {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
}

#mobile-menu-container {
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#burger-menu {
    visibility: hidden;
    background-image: url("../img/burger-menu.svg");
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 80px;
    height: 80px;
    z-index: 9;
    cursor: pointer;
    transition: 0.2s;
}

.close {
    background-image: url("../img/close.svg") !important;
}

#mobile-menu {
    width: 100%;
    position: relative;
    height: 200px;
}

#mobile-menu ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    scale: 1;
}

#mobile-menu ul li::before {
    left: 15px;
}

#mobile-menu ul li:hover::before {
    width: 82%;
}

#mobile-menu li:last-of-type {
    display: flex;
    gap: 50px;
}

#mobile-menu li a img {
    max-width: 50px;
    max-height: 50px;
}

.close-list {
    scale: 0 !important;
}

/* header content */
h1 {
    position: relative;
    font-size: 6rem;
    color: var(--text-color);
    top: calc(50% - 10rem);
    text-align: center;
    z-index: 4;
}

h1 span {
    font-size: 9rem;
}

header img:first-of-type {
    position: absolute;
    width: 100%;
    z-index: 1;
}

header img:nth-of-type(2) {
    position: absolute;
    top: -20%;
    right: 0;
    animation: levitating 5s ease infinite;
    z-index: 2;
}

header img:nth-of-type(3) {
    position: absolute;
    top: -2%;
    left: 0;
    animation: header-spaceship 1s ease-in;
    z-index: 3;
}

header img:nth-of-type(4) {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
}

header img:nth-of-type(5) {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 6;
}

header img:nth-of-type(6) {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 7;
}

header img:nth-of-type(7) {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 8;
}

header img:nth-of-type(8) {
    position: absolute;
    height: 100%;
    bottom: -10%;
    right: 20%;
    z-index: 9;
}

header img:nth-of-type(9) {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
}

header img:nth-of-type(10) {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;
    z-index: 11;
}

header img:last-of-type {
    position: absolute;
    bottom: -5%;
    z-index: 12;
    animation: levitating-inverted 5s ease infinite;
}

/* Main */
main {
    height: auto;
    background: var(--background-gradient);
}

section {
    min-height: 100dvh;
    position: relative;
}

/* About me section */
#about-me {
    background-image: url("../img/header-calque1.png");
}

#presentation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58%;
    position: relative;
}

#presentation img:not(#portrait) {
    max-width: 500px;
    width: 100%;
    max-height: 500px;
}

#photo {
    height: 70%;
    max-width: 500px;
    margin-right: 30px;
    filter: drop-shadow(0 0 10px var(--moon-color));
    position: relative;
}

#portrait {
    width: 300px;
    border-radius: var(--round);
    z-index: 2;
}

#photo a button {
    width: 120px;
    height: 120px;
    background: url("../img/MoonCV.png");
    background-size: contain;
    box-sizing: border-box;
    border: none;
    border-radius: var(--round);
    cursor: pointer;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    transition: .2s;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: resume-light 1.5s linear infinite;
}

#platform-modal-btn {
    width: 100px;
    height: 100px;
    background: url("../img/rocket-icon.png");
    background-size: contain;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
}

#platform-modal {
    position: absolute; 
    width: 90%;
    height: 70%;
    background: var(--background-gradient);
    border-radius: 10px;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#platform-modal h3 {
    font-size: 24px;
    color: white; 
    margin-top: 10px;
}

#platform-modal ul {
    list-style: circle;
    width: 85%;
    font-size: 18px;
    color: white;
    line-height: 30px;
}

#platform-modal a {
    color: white;
    position: relative;
    z-index: 1;
    text-decoration: none;
}

#platform-modal a::before {
    background: linear-gradient(to right, rgb(0, 108, 135), rgb(179, 0, 206));
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.platform-title {
    text-decoration: underline;
}

#description {
    color: var(--text-color);
}

#description h2 {
    font-size: 6rem;
    text-align: center;
}

#description p {
    padding: 10px 50px;
    text-align: justify;
    font-size: 22px;
    z-index: 2;
}

.highlight {
    position: relative;
    z-index: 2;
}

.highlight::before {
    background: linear-gradient(to right, rgb(0, 108, 135), rgb(179, 0, 206));
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

#link-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

#link-btns button {
    height: 50px;
    width: 140px;
    background-color: var(--line-color);
    color: var(--contact-button-color);
    border-radius: 25px;
    border: none;
}

#link-btns button:hover {
    background-color: rgb(255, 240, 255);
}

#link-btns button:active, #link-btns button:focus {
    background-color: hsl(300, 100%, 90%);
}

#link-btns button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    font-size: 18px;
    text-decoration: none;
}

#link-btns button a:focus, #link-btns button a:active {
    color: var(--contact-button-color);
}

#link-btns button img {
    height: 40px;
    width: 40px !important;
}

/* skills  */
#skills {
    width: 80%;
    height: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#skills h3 {
    font-size: 50px;
    margin-bottom: 30px;
}

#skills img {
    width: 50px;
}

.stack {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.stack div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack h4 {
    font-size: 28px;
    margin-bottom: 15px;
}

.stack ul {
    width: auto;
}

.stack ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.main-stack {
    background-image: linear-gradient(to right, rgb(66, 217, 255), rgb(255, 62, 242));
    color: transparent;
    background-clip: text;
}

/* Projects section */
#projects {
    position: relative;
    display: flex;
    margin-top: 50px;
    scroll-margin-top: 50px;
}

#projects h2 {
    font-size: 5rem;
    color: var(--text-color);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    top: -40px;
    left: 2px;
}

/* Dashboard */
#dashboard {
    position: absolute;
    background: no-repeat top url("../img/dashboard_up_copy.PNG"), no-repeat bottom url("../img/dashboard_down_copy.PNG");
    height: calc(100dvh - 60px);
    width: calc(100dvw - 101px);
    max-width: 1600px;
    border: 5px solid #112964;
    border-radius: 10px;
    box-sizing: border-box;
    margin: auto;
    top: 10px;
    left: 100px;
    display: flex;
    align-items: center;
}

/* slider */
#projects-slider {
    position: relative;
    width: 98%;
    height: 95%;
    z-index: 25;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: white;
    margin: auto;
}

#projects-slider h3 {
    font-size: 2.5rem;
    font-family: var(--robotic);
    max-width: 350px ;
    height: 180px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    left: -5px;
}

#slider-nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1500px;
    position: absolute;
}

#slider-nav button {
    height: 50px;
    width: 50px;
    border-radius: var(--round);
    box-sizing: border-box;
    border: 3px dotted white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#slider-after:hover, #slider-before:hover span {
    animation: nav-button 10s linear infinite;
}

#slider-before:hover, #slider-after:hover span {
    animation: nav-button-inverted 10s linear infinite;
}

#slider-nav button span {
    transform: translate(50 50);
}

#slider-content {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    position: absolute;
    top: 0;
    display: flex;
    overflow: hidden;
    margin: 10px auto;
}

.slider-project {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.project-content {
    position: relative;
    width: 99%;
    height: 420px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.project-div {
    position: relative;
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.90);
}

.project-vision {
    position: relative;
    max-width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-visual {
    position: relative;
}

.project-visual:hover .project-btns {
    display: flex;
}

.project-vision img {
    position: relative;
    max-width: 100%;
    max-height: 370px;
}

.project-state-green {
    background-color: var(--neon-green);
    color: black;
    padding: 2px 10px;
    border-radius: 50px;
    width: fit-content;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
}

.project-state-pink {
    background-color: var(--neon-pink);
    
    color: black;
    padding: 2px 10px;
    border-radius: 50px;
    width: fit-content;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
}

.project-btns {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.project-btns a {
    height: 50px;
    width: 140px;
    background-color: var(--line-color);
    color: black;
    border-radius: 25px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    filter: drop-shadow(3px 3px 3px hsl(0, 0%, 59%));
}

.project-btns a:hover {
    background-color: rgb(255, 240, 255);
}

.project-btns a:focus, .project-btns a:active {
    background-color: hsl(300, 100%, 90%);
    color: var(--contact-button-color);
}   

.project-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 70px;
    color: black;
    height: 100%;
    max-width: 40%;
}

.project-about div {
    height: fit-content;
    padding: 40px 10px;
    font-size: 20px;
}

.project-techno {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.project-tool {
    font-family: var(--robotic);
    min-height: 50px;
    min-width: 140px;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--neon-blue), var(--neon-pink));
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tool {
    padding: 2px 10px;
    margin: 1px 10px;
    background-color: var(--techno-background-color);
    box-sizing: border-box;
    border-radius: 2px;
}

/* Contact Me section */
#contact-me {
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

#contact {
    margin: auto;
    position: relative;
    width: 40%;
    height: 60%;
    font-size: 3rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

small {
    color: #f67080;
    position: absolute;
    right: 10px;
    bottom: 3px;
}

.box {
    display: flex;
    justify-content: flex-start;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.cursor {
    font-weight: bold;
    animation: blink 0.7s steps(2) infinite;
}

.mail {
    width: 60%;
    height: 20%;
    cursor: pointer; 
    background-color: var(--text-color);
    transition: .3s;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-size: 2.5rem;
    color: var(--contact-button-color);
    font-family: var(--robotic);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    filter: drop-shadow(2px 2px 25px var(--contact-button-color));
}

.mail:hover {
    color: var(--contact-button-hover);
    filter: drop-shadow(2px 2px 25px var(--contact-button-shadow-hover));
}

#media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Animations */
@keyframes levitating {
    0% {

    }

    50% {
        transform: translateY(1%);
    }

    100% {

    }
}

@keyframes resume-light {
    0%, 100% {

    }

    50% {
        filter: drop-shadow(1px 1px 20px var(--moon-color));
    }
}

@keyframes levitating-inverted {
    0% {
        transform: translateY(1%);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1%);
    }
}

@keyframes header-spaceship {
    0% {
        top: 50%;
    }

    100% {

    }
}

@keyframes css-spaceship {
    0% {

    }

    50% {
        bottom: 120%;
    }

    100% {

    }
}

@keyframes nav-button {
    0% {
        scale: 1.1;
        translate: 50 50;
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes nav-button-inverted {
    0% {
        scale: 1.1;
        translate: 50 50;
        rotate: 0deg;
    }

    100% {
        rotate: -360deg;
    }
}

@keyframes blink {
    0%, 100% { 
        opacity: 1; 
    }
    50% { 
        opacity: 0; 
    }
}

/* Media queries */
@media screen and (max-width: 1400px) {
    small {
        position: unset;
        text-align: center;
        padding-bottom: 3px;
    }

    #slider-nav {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    nav ul {
        width: 80%;
    }

    header img:nth-of-type(8) {
        right: calc(50% - 533px);
    }

    header img:nth-of-type(10) {
        right: -10%;
    }

    #description p {
        padding: 10px;
    }

    #projects h2 {
        display: none;
    }

    #dashboard {
        width: 99dvw;
        left: unset;
    }

    .mail {
        width: 100%;
    }

    #contact {
        height: 70%;
    }
}

@media screen and (max-width: 800px) {

    /* header */
    header img:nth-of-type(2) {
        top: -5%;
        right: -25%;
    }

    header img:nth-of-type(3) {
        top: 5%;
        left: -5%;
    }

    header img:nth-of-type(4), header img:nth-of-type(5), header img:nth-of-type(6), header img:nth-of-type(7), header img:nth-of-type(9), header img:nth-of-type(10) {
        bottom: -25%;
    }

    header img:nth-of-type(8) {
        right: calc(50% - 575px);
        bottom: -25%;
    }

    header img:last-of-type {
        bottom: 0;
    }

    h1, h1 span{
        font-size: 5rem;
    }

    h1 {
        top: calc(50% - 10rem);
    }

    /* about me section */ 
    #about-me {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #presentation {
        height: auto;
    }

    #photo {
        height: unset;
    }

    #description h2 {
        font-size: 5rem;
    }

    #skills {
        margin: 0 auto;
        height: auto;
    }

    /* projects section */
    #slider-content {
        height: 100%;
    }

    .project-content {
        justify-content: center;
        max-height: 430px;
        gap: 10px;
    }

    .project-vision {
        max-width: 80%;
    }

    .project-vision img {
        max-height: 270px;
    }

    .project-about {
        max-width: 100%;
        height: unset;
    }

    .project-about div {
        padding: 5px;
        font-size: 16px;
    }

    /* contact */
    #contact {
        width: 95%;
    }

    .mail {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    body {
        max-width: 100%;
    }
    /* header */
    nav ul {
        width: 100%;
        margin: 0;
    }

    .desktop {
        visibility: hidden;
    }

    #burger-menu {
        visibility: visible;
    }

    #moving-planets {
        width: 800px;
        top: 0px;
        left: -280px;
    }

    #spaceship-illu {
        width: 800px;
        top: 190px;
    }

    #cloud-left, #cloud-right, #mountain-left, #mountain-right, #sand-dune-left, #sand-dune-right, #astronaut-on-top {
        width: 700px;
        bottom: 0;
        height: unset;
    }

    #sand-dune-left {
        left: -120px;
    }

    #sand-dune-right {
        right: -120px;
    }

    #floating-objects {
        width: 800px;
        bottom: 20px;
    }

    #astronaut-on-top {
        right: calc(50% - 350px);
    }

    h1, h1 span{
        font-size: 3rem;
    }

    h1 {
        top: calc(50% - 6rem);
    }

    .parallax, .parallaxL, .parallaxR, .parallaxB {
        transform: none !important;
        will-change: auto;
    }

    /* section about-me */
    #about-me {
        height: auto;
    }

    #presentation {
        flex-direction: column;
        gap: 30px;
    }

    #chevron-open, #chevron-close {
        position: absolute;
        z-index: 0;
        width: 20%;
    }

    #chevron-open {
        left: 0;
    }

    #chevron-close {
        right: 0;
    }

    #photo {
        margin: 30px 0 0 0;
        z-index: 1;
    }

    #skills {
        width: 95%;
        background-image: unset;
        margin-top: 30px;
    }

    /* projects */
    .project-tool {
        min-height: 30px;
        min-width: 100px;  
    }

    /* footer */
    #contact {
        width: 95%;
        height: 70%;
    }

    .mail {
        width: 80%;
    }
}